@import url('https://fonts.googleapis.com/css2?family=Inter&family=Kanit:wght@300&family=Tilt+Prism&display=swap');

.App{
  font-family: 'Inter', sans-serif;
  background: #1a1a1a;
  width: 80%;
  margin: 0 auto;
  @media only screen and (max-width: 1000px) {
    width: 90%;
  }
}

img{
  width: 800px;
}


